<!--Start Header-->
<header>
    <div class="heared">
    {% block header %}
        <div class="heared_left">
            <div class="heared_logo"><a href="http://www.computerrecyclingsf.com"><img src="{{ img_url }}/images/san-francisco-computer-recycling.png" alt="San Francisco Computer & Electronics Recycling Services" /></a></div>
            <div class="heared_logo_text">
                <h2>{{ site.description }}</h2>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="heared_right">
            <div class="heared_right_box">
                <h2><a href="http://www.computerrecyclingsf.com/e-recycling/contact-us.html" rel="nofollow">Contact Us</a> <span>415-366-8120</span></h2>
            </div>
            <div class="mob_hed_riht_con">
                <a href="#" class="showhide"><div class="mob_call_icon"></div></a>
                <a href="#fodvs"><div class="mob_message_icon"></div></a>
                <a href="#"><div class="mob_menu_icon"></div></a>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="spacer"></div>
    {% endblock %}
    </div>
</header>