{% for item in menu %}
<div class="submenu_top_box">
    <h2>
        <a href="{{item.get_link}}">{{item.title}}</a>
    </h2>

        {% if item.get_children %}
            <ul>
                {% for item in item.get_children %}
                    <li>
                        <a href="{{item.get_link}}">{{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
</div>
{% endfor %}