<div id="mob_menu">
    <ul>
    <li><a href="http://www.computerrecyclingsf.com/services.html">Services</a>
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/services.html"><strong>End-of-Life Technology Management Services</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html"><strong>E-Waste Recycling</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html"><strong>IT Asset Disposition</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html"><strong>Digital Data Destruction</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/data-destruction/on-site-sf-bay.html"><strong>On-site Data Destruction</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html"><strong>IT Asset Recovery</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html"><strong>IT Asset Remarketing</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/lease-returns-sf-bay.html"><strong>IT Asset Lease Returns</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/evaluation-sf-bay.html"><strong>IT Asset Evaluation</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/electronics-recycling/e-waste-purchasing.html"><strong>E-Scrap Purchasing</strong></a></li>
        </ul>
    </li>
    <li><a href="http://www.computerrecyclingsf.com/solutions.html">Solutions</a>
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/solutions.html"><strong>Business Solutions by Type</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/solutions/corporate-electronics-recycling.html"><strong>Enterprises & Corporations</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/solutions/municipality-electronics-recycling.html"><strong>Government & Municipalities</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/solutions/non-profit-electronics-recycling.html"><strong>Nonprofit Organizations</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/solutions/manufacturer-electronics-recycling.html"><strong>OEM Manufacturers</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/solutions/small-business-electronics-recycling.html"><strong>Small Businesses</strong></a></li>
        </ul>
    </li>
    <li><a href="http://www.computerrecyclingsf.com/process.html">Our Process</a>
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/process.html"><strong>End-of-Life Technology Management Process</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/asset-auditing-reporting.html"><strong>Auditing & Reporting</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/reverse-logistics.html"><strong>Reverse Logistics</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/chain-of-custody.html"><strong>Chain of Custody</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/risk-management.html"><strong>Risk Management</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/faqs.html"><strong>Frequently Asked Questions</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/process/where-does-our-e-waste-go.html"><strong>Where does our e-waste go</strong></a></li>
        </ul>
    </li>
    <li><a href="http://www.computerrecyclingsf.com/compliance.html">Compliance</a>
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/compliance.html"><strong>Environmental Compliance</strong></a>
            <li><a href="http://www.computerrecyclingsf.com/compliance/certifications.html"><strong>Certifications & Affiliations</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/compliance/liability-protection.html"><strong>Liability Protection</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/compliance/responsible-e-waste-recycler.html"><strong>Responsible e-Waste Recycler</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/compliance/e-waste-concerns.html"><strong>E-Waste Concerns</strong></a></li>
        </ul>
    </li>
    <li><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">About Us</a>
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html"><strong>Company Overview</strong></a>
            <li><a href="http://www.computerrecyclingsf.com/e-recycling/why-to-choose-us.html" rel="nofollow"><strong>Why to Choose Us</strong></a></li>
            <li><a href="http://www.computerrecyclingsf.com/e-recycling/contact-us.html" rel="nofollow"><strong>Contact Us</strong></a></li>
        </ul>
    </li>
</ul>
</div>