<!--Start slider-->
<section class="slider_con">
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li class="slider-one">
                    <div class="slider_box">
                        <div class="slider_box_left">
                            <h2>Computer &amp; Electronics Recycling Solutions</h2>

                            <h3>The SF Bay Area leader in computer
                                equipment reuse and recycle</h3>
                            <h4><a href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html">Find
                                    out how it can work for you </a></h4>
                        </div>
                        <div class="slider_box_right">&nbsp;</div>
                        <div class="spacer"></div>
                    </div>
                </li>
                <li class="slider-two">
                    <div class="slider_box">
                        <div class="slider_box_left">
                            <h2>Guaranteed Secure Digital Data Destruction</h2>

                            <h3>NC provides certified hard drive <br>
                                and data destruction</h3>
                            <h4>
                                <a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html">Explore
                                    how it can work for you </a></h4>
                        </div>
                        <div class="slider_box_right">&nbsp;</div>
                        <div class="spacer"></div>
                    </div>
                </li>
                <li class="slider-three">
                    <div class="slider_box">
                        <div class="slider_box_left">
                            <h2>IT Asset Disposition and Recovery Services</h2>

                            <h3>From IT asset recovery to total
                                destruction and everything in between</h3>
                            <h4><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html">Learn
                                    how it can work for you </a></h4>
                        </div>
                        <div class="slider_box_right">&nbsp;</div>
                        <div class="spacer"></div>
                    </div>
                </li>
                <li class="slider-four">
                    <div class="slider_box">
                        <div class="slider_box_left">
                            <h2>Generate Revenue for Your Business</h2>

                            <h3>NC Moving & Storage Solutions will turn your unwanted computers
                                and electronics into some cash</h3>
                            <h4>
                                <a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html">Find
                                    out how it can work for you </a></h4>
                        </div>
                        <div class="slider_box_right">&nbsp;</div>
                        <div class="spacer"></div>
                    </div>
                </li>
                <li class="slider-five">
                    <div class="slider_box">
                        <div class="slider_box_left">
                            <h2>Responsible and Safe Materials Handling</h2>

                            <h3>R2 and ISO certified to ensure compliance
                                and transparency</h3>
                            <h4>
                                <a href="http://www.computerrecyclingsf.com/compliance/responsible-e-waste-recycler.html">Find
                                    out how it can work for you </a></h4>
                        </div>
                        <div class="slider_box_right">&nbsp;</div>
                        <div class="spacer"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section><!--End Slader-->