<div class="content_bdy_mnu">
    <ul>
        <li><a href="http://www.computerrecyclingsf.com">
                <div class="content_home_icon"></div>
            </a></li>
        <li><a href="http://www.computerrecyclingsf.com/services.html">Services Overview</a></li>
        <li><a href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html">E-Waste Recycling</a></li>
    </ul>
    <div class="spacer"></div>
</div>