<div id="fodvs" class="cont_bdy_midarea2">
    <div class="cont_contactus_box">
        <div class="cont_contactus_box_lft">

            <form action="http://www.computerrecyclingsf.com/function.php" method="post" id="frm_content" name="frm_content">
                <div class="cont_contactus_box_lft_bdy">
                    <div class="bdy_bottom_message_box_con">
                        <div class="text_box_lft">
                            <input type="text" placeholder="Name*" id="name" name="name" class="bdy_btm_textbox extbox_name_icon">
                        </div>

                        <div class="text_box_rigth">
                            <input type="text" placeholder="Email*" id="email" name="email" class="bdy_btm_textbox extbox_email_icon">
                        </div>
                        <div class="spacer"></div>
                        <div class="text_box_lft">
                            <input type="text" placeholder="City" id="city" name="city" class="bdy_btm_textbox extbox_city_icon">
                        </div>
                        <div class="text_box_rigth">
                            <input type="text" placeholder="Phone Number" id="phone" name="phone" class="bdy_btm_textbox extbox_phone_icon">
                        </div>
                        <div class="text_box_lft">
                            <input type="text" placeholder="Company" id="company" name="company" class="bdy_btm_textbox extbox_company_icon">
                        </div>
                        <div class="text_box_rigth ">
                            <select id="service" name="service" class="bdy_btm_selectbox extbox_services_icon">
                                <option value="Interested in service">Interested in service</option>
                                <option value="E-Waste Removal">E-Waste Removal</option>
                                <option value="Computer Recycling">Computer Recycling</option>
                                <option value="IT Asset Disposition">IT Asset Disposition</option>
                                <option value="Data Destruction">Data Destruction</option>
                                <option value="Asset Recovery">Asset Recovery</option>
                                <option value="Leased Returns">Leased Returns</option>
                                <option value="Asset Remarketing">Asset Remarketing</option>
                                <option value="e-Scrap Purchasing">e-Scrap Purchasing</option>
                                <option value="Asset Liquidation">Asset Liquidation</option>
                            </select>
                        </div>
                        <div class="spacer"></div>
                        <div class="textarea_box">
                            <textarea placeholder="Provide details of your e-waste assets.*" id="inquiry" name="inquiry" style="height:100px;" class="textarea_style"></textarea>
                        </div>
                        <div class="message_button_con">
                            <input type="submit" value="REQUEST PICKUP" name="send_content" id="send_content" class="message_button">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="cont_contactus_box_riht">
            <p><strong>Call: (415) 366-8120</strong></p>
        </div>
        <div class="spacer"></div>
    </div>
</div>