<div class="cont_bdy_lft">
    <div class="cont_bdy_lft_mnu1">
        <ul>
            <li><a href="http://www.computerrecyclingsf.com/services.html">Services</a></li>
            <li><a class="active" href="http://www.computerrecyclingsf.com/services/e-waste-recycling-sf-bay.html">E-Waste Recycling</a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-disposition-sf-bay.html">IT Asset Disposition</a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/digital-data-destruction-sf-bay.html">Digital Data Destruction</a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html">IT Asset Recovery</a></li>
            <li><a href="http://www.computerrecyclingsf.com/services/it-asset-recovery-remarketing-sf-bay.html">Equipment Remarketing</a></li>
            <li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/evaluation-sf-bay.html">Asset Evaluation</a></li>
            <li><a href="http://www.computerrecyclingsf.com/it-asset-disposition/lease-returns-sf-bay.html">Lease Returns</a></li>
            <li><a href="http://www.computerrecyclingsf.com/e-recycling/e-waste-purchasing-sf-bay.html">E-Scrap Purchasing</a></li>
        </ul>
    </div>
</div>