<div class="cont_bdy_lft">
    <div class="cont_bdy_lft_mnu1">
        <ul>
            {% for item in menu %}
                <li class="{{item.classes | join(' ')}}">
                    <a {% if item.current %}class="active"{% endif %} href="{{item.get_link}}">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>