<div class="cont_bdy_rigt">
    <div class="cont_bdyrigt_boxcon">
        <div class="cont_bdyrigt_box1">
            <h2>Talk to an Expert</h2>
            <div class="chat_now_box">
                <div class="chat_now_boxtop"><a href="#">Chat Now</a>
                    <div class="spacer"></div>
                </div>
                <div class="chat_now_boxbtm">
                    <ul>
                        <li class="phone"><a href="#">415-366-8120</a></li>
                        <li class="email"><a rel="nofollow" href="http://www.computerrecyclingsf.com/e-recycling/contact-us.html">Email &gt;</a></li>
                        <li class="request"><a href="http://www.computerrecyclingsf.com/it-asset-disposition/evaluation-sf-bay.html">Request a Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cont_bdyrigt_boxcon">
        <div class="cont_bdyrigt_box2">
            <h2>End-of-Life Management of IT Assets</h2>
            <a href="http://www.computerrecyclingsf.com/whitepaper-download-1.html">Read the Whitepaper</a>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="cont_bdyrigt_boxcon">
        <div class="cont_bdyrigt_box3">
            <div class="cont_bdyrigt_box3top">
                <h2>Industry News</h2>
            </div>
            <div class="cont_bdyrigt_box3btm">
                <ul>
                    <li><a rel="nofollow" target="_blank" href="http://www.livescience.com/41967-world-e-waste-to-grow-33-percent-2017.html">World's E-Waste to grow 33% by 2017, says new report from the United Nations.</a></li>
                    <li><a rel="nofollow" target="_blank" href="http://www.step-initiative.org/tl_files/step/_documents/MIT-NCER US Used Electronics Flows Report - December 2013.pdf">MIT/NCER released "Quantitative Characterization of Domestic and Transboundary Flows of Used Electronics" study.</a></li>
                    <li><a rel="nofollow" target="_blank" href="http://www.greenbiz.com/blog/2014/01/09/developing-world-overtakes-us-e-waste-production">Developing world overtakes the U.S. in e-waste.</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>