<!--Start footer Mob Menu-->
<section>
    <div class="footer_mob_menu_con">
        <div class="footer_mob_menu">
            <ul>
                <li><a href="http://www.computerrecyclingsf.com">Home</a></li>
                <li><a href="http://www.computerrecyclingsf.com/process.html">Our Process</a></li>
                <li><a href="http://www.computerrecyclingsf.com/services.html">Services</a></li>
                <li><a href="http://www.computerrecyclingsf.com/compliance.html">Compliance</a></li>
                <li><a href="http://www.computerrecyclingsf.com/solutions.html">Solutions</a></li>
                <li><a href="http://www.computerrecyclingsf.com/e-recycling-company-san-francisco-bay.html">About Us </a></li>
            </ul>
            <div class="spacer"></div>
        </div>
    </div>
</section>
<!--End footer Mob Menu-->