
@media screen and (max-width: 1024px){
.index_body { padding: 7px;}
.bdy_btm_textbox { width: 76%;}
.slider_box_left h2 { font-size: 49px;}
.slider_box_left h3 { font-size: 22px; padding: 15px 0 0 150px;}


/*--content--*/
.cont_bdy_lft_mnu1 ul li a:hover { background: url(http://www.computerrecyclingsf.com/images/all_icon.png) no-repeat 125px -484px #333333;}
.cont_bdy_midtop ul li a { font-size: 13px; padding: 5px 8px;}
.cont_bdyrigt_box2 h2 {padding-bottom: 70px; padding-right:0px;}
.cont_bdyrigt_box2 a { float: none; font-size: 11px; text-align:center; display:block; margin:0;}

}


@media screen and (max-width: 768px){

.slider { min-height: 245px;}
.slider_box_left h2 {font-size: 35px; padding: 0px 0 0 20px;}
.slider_box_left h3 { font-size: 20px; padding: 15px 0 0 66px;}
.slider_box {padding:24px 0;}
.index_body {padding: 8px;}
.index_services_con { width:auto; padding: 7px;}
.index_welcm_con { width:auto; padding: 7px;}
.index_welcm {min-height:inherit;}
.index_services {min-height:inherit;}
.footer_mid {padding:0 8px;}
.footer_mid ul li { margin: 0 0.5%; width: 13%;}
.index_body_bottom_mid{display:none;}
.guides_box_con2 { display:none;}
.index_body_bottom_rigt { width: 32.1%;}
.guides_box_con1 { margin-right:0; width: 100%;}
.index_body_bottom_lft { margin-right: 1.3%; width: 61%;}
.bdy_btm_textbox {width: 79%;}
.index_body_topbox_last{ display:none;}
.index_body_topbox { margin-right: 1.3%; width: 30.8%;}

/*--content--*/
.cont_bdy_lft{ display:none;}
.cont_bdy_rigt {display:none;}
.cont_bdy_midcon { float: none; width: 100%;}
.cont_bdy_midtop ul li a {font-size: 14px; padding: 5px 10px;}
.lft_rht_in_body_con{display:block;}
.cont_bdy_lft_mnu1 ul li a { padding: 7px 5px;}
.cont_bdy_lft_mnu1 ul li a:hover { background: url(http://www.computerrecyclingsf.com/images/all_icon.png) no-repeat 150px -484px #333333;}
.chat_now_boxbtm { padding: 1px 7px;}
.cont_bdyrigt_box1 h2 { font-size: 17px; padding: 0 0 5px 0;}
.chat_now_boxbtm ul li a { padding: 4px 5px 5px 28px; }

}

@media screen and (max-width: 767px){
.menuHld{display:none;}
.heared {padding: 0 15px;}
.heared_left {width: 30%;}
.heared_logo { float: none;}
.heared_right_box{display:none;}
.mob_hed_riht_con{display:block; margin-top:25px;}
.heared_logo_text {display:none;}
.slider_con { display:none;}
.index_body_top { margin-top:0; position: relative; width: 100%; z-index: 999999;}
.index_body { padding: 15px;}
.index_body_bottom_lft { float: none; margin: 0 auto; width: 90%;}
.index_body_topbox{padding:7px; margin:0 auto 16px auto; float:none; width:auto;}
.index_body_topbox_last{padding:7px; margin:0 auto 16px auto; float:none; width:auto;}
.index_body_topbox_in { text-align: center;}
.index_welcm_con { display:none;}
.bdy_btm_textbox {width: 85%;}
.index_body_bottom_rigt {border-bottom: 3px dotted #666666; padding-bottom: 20px; width: 100%; margin-bottom: 20px;}
.body_bottom_rigt_hdr {width: 90%; margin:0 auto;}
.bdy_spon_logo_con {display: none;}
.body_bottom_rigt_bdy {width: 90%; margin:0 auto;}
.text_box_lft {float: none; width: 100%;}
.text_box_rigth { float: none; width: 100%;}
footer {padding: 20px 0;}
.footer_top_con { display: none;}
.footer_mid_con {display: none;}
.footer_mob_menu_con { padding: 15px;}
.footer_mob_menu {margin-bottom: 10px;}
.index_body_bottom {margin-bottom: 40px;}
.footer_mob_menu_con{display:block;}
nav { border-bottom:none; border-top:none;}


/*--content--*/
.content_hed {min-height: inherit;}
.content_hed h1 { font-size: 30px; line-height:36px; padding: 20px 0 20px 32px;}
.cont_bdy_area { margin-bottom: 0;}
.content_bdy_mnu{display:none;}
.cont_bdy_midcon { float: none; width: 94%; padding:3%}
.lft_rht_in_body_con{display:none;}
.cont_contactus_box_riht {display:none;}
.cont_contactus_box_lft { float: none; width: 100%;}
.cont_contactus_box { padding:20px;}
.drm_solutions_boxbtm_box h2 { float: none; width: 100%;}
.drm_solutions_boxbtm_box h3 { float: none; width: 100%;}
.drm_solutions_boxbtm_box h2 a{ margin:0px;}
.boxbtm_box_none{display:none;}
.cont_bdy_midbtm_area { padding: 20px;}
.overview1_bdy1_lft { float: none; width: 100%;}
.overview1_bdy1_riht { float: none; width: 100%; margin-bottom:15px;}
.header2 { float: none; margin-right: 0%; width: 100%;}
.header3 { display:none;}
.header4 { display:none;}
.overview1_bdy1_lft p { font-size: 14px; line-height:18px;}
.overview1_bdy1_riht ul li a {font-size: 14px; }
.overview1_bdy1_riht h2 {font-size: 16px;}
.header1 h2 { font-size: 16px;}
.header2 h2 { font-size: 16px;}
.header2 p { font-size: 13px;}
.header1 ul li { font-size: 13px;}
.header2 ul li { font-size: 13px;}
.overview2_con p { font-size: 14px; line-height: 18px;}
.cont_contactus_box_lft_hed p { font-size: 14px; line-height: 18px;}
.overview2_none{ display:none;}
.overview2_con_img { float: none; margin: 0 0 10px 0; text-align: center;}
.overview3_bdy_boxbtm p { font-size: 14px; line-height: 18px;}
.overview3_bdy_boxtop h2 { font-size: 16px; }
.overview3_bdy_boxtop h3 { font-size: 16px; }
.cont_bdy_midtop ul     { display: none;}
.cont_bdy_midtop select { display: inline-block;}
.cont_bdy_midarea1 {margin-top: 50px;}
.cont_bdy_midbtm { border:none; padding:0;}

}

@media screen and (max-width: 640px){
.bdy_btm_textbox { width: 91.5%;}

}

@media screen and (max-width: 600px){

.bdy_btm_textbox {
    width: 91%;
}

}

@media screen and (max-width: 568px){


}

@media screen and (max-width: 480px){

.index_services { background:#FFFFFF; min-height: 204px; padding: 15px; width: auto;}
.index_services ul li { float: none; width: auto;}
.bdy_btm_textbox { width: 88.4%;}
.message_button {text-align: center;}
.mob_hed_riht_con { margin-top: 20px;}



}


@media screen and (max-width: 384px){
.bdy_btm_textbox {width: 84.4%;}
.mob_hed_riht_con { margin-top: 12px;}

/*--content--*/
.drm_solutions_boxbtm_box h2 a { font-size: 11px;}
.drm_solutions_boxbtm_box h3 a { font-size: 11px;}
	

}


@media screen and (max-width: 320px){
.bdy_btm_textbox {width: 82.4%;}
.mob_hed_riht_con {margin-top: 10px;}

/*--content--*/
.drm_solutions_boxbtm_box h2 a { font-size: 9px;}
.drm_solutions_boxbtm_box h3 a { font-size: 9px;}
.content_hed h1 { font-size: 25px; line-height:36px; padding: 20px 0 20px 32px;}
	
}


@media screen and (max-width: 240px){


}

