@media screen and (max-width: 1024px){
.index_body { padding: 7px;}
.bdy_btm_textbox { width: 76%;}
.slider_box_left h2 { font-size: 49px;}
.slider_box_left h3 { font-size: 22px; padding: 15px 0 0 150px;}
.heared{ max-width:100%; padding:0;}
.slider_box{ width:100%; max-width:100%;}
.menu{ max-width:700px;}
.index_body_topbox{ width:22%; margin-right:21px;}
.index_body_topbox_last{ width:22%;}
.dinokar{ display:none;}
.submenu_top{ margin-left:16%; width:auto;}

/*--content--*/
.cont_bdy_midtop ul li a { font-size: 13px; padding: 5px 8px;}
.cont_bdyrigt_box2 h2 {padding-bottom: 40px; padding-right:0px;}
.cont_bdyrigt_box2 a { float: none; font-size: 11px; text-align:center; display:block; margin:0;}
.bdy_spon_logo ul li span{ white-space:inherit;}
.bdy_spon_logo h3{ padding-top:9px;}
.bdy_spon_logo ul li { float: left; width:9%; }
.submenu_top_box{ width:23%;}
}
@media screen and (max-width: 980px){
.slider { min-height: 245px;}
.slider_box_left h2 {font-size: 35px; padding: 0px 0 0 20px;}
.slider_box_left h3 { font-size: 20px; padding: 15px 0 0 66px;}
.slider_box {padding:24px 0; height:170px;}
.index_body {padding: 8px;}
.index_services_con { width:auto; padding: 7px;}
.index_welcm_con { width:auto; padding: 7px;}
.index_welcm {min-height:inherit;}
.index_services {min-height:inherit;}
.footer_mid {padding:0 8px;}
.footer_mid ul li { margin: 0 0.5%; width: 13%;}
.index_body_bottom_mid{display:none;}
.guides_box_con2 { display:none;}
.index_body_bottom_rigt { width: 32.1%;}
.guides_box_con1 { margin-right:0; width: 100%;}
.index_body_bottom_lft { margin-right: 1.3%; width: 61%; padding-left:3px;}
.bdy_btm_textbox {width: 79%;}
.index_body_topbox_last{ display:none;}
.index_body_topbox { margin-right: 16px; width: 30%; padding:7px;}
.nomardv { margin-right: 0;}
.index_services ul li{ width:29%;}
.index_services p{ margin-right:20%;}
.menu{ max-width:804px;}
.bdy_spon_logo_con{ width:auto; padding: 7px;}
.submenu_top { margin-left:2%;}

/*--content--*/
.cont_bdy_lft{ display:none;}
.cont_bdy_rigt {display:none;}
.cont_bdy_midcon { float: none; width: 100%;}
.cont_bdy_midtop ul li a {font-size: 14px; padding: 5px 10px;}
.lft_rht_in_body_con{display:block;}
.cont_bdy_lft_mnu1 ul li a { padding: 7px 5px;}
.chat_now_boxbtm { padding: 1px 7px;}
.cont_bdyrigt_box1 h2 { font-size: 17px; padding: 0 0 7px 0;}
.chat_now_boxbtm ul li a { padding: 6px 5px 6px 28px;  }
.chat_now_boxtop a { margin: 9px 0 8px 14px;}
.cont_bdyrigt_box2 h2 { padding-bottom: 65px; padding-right:15px;}
.cont_bdyrigt_box2 a { float: none; font-size: 13px; text-align:center; display:block; margin:0;}
.cont_bdyrigt_box3btm ul li a { padding: 7px 2px;}
.cont_bdyrigt_box3btm {padding: 7px 7px;}

.cont_bdy_lft_mnu1{min-height:166px;}
.cont_bdyrigt_box1{min-height:150px;}
.cont_bdyrigt_box2{min-height:150px;}
.cont_bdyrigt_box3{min-height:150px;}


.index_body_topbox_in p { font-size: 14px; line-height:18px;}
.index_welcm p {font-size: 14px; line-height:18px;}
.index_services p {font-size: 14px; line-height:18px;}
.index_services ul li a {font-size: 14px;}
.guides_box h2 {font-size: 13px;}
.guides_box p {font-size: 14px; line-height:18px;}
.index_body_topbox_in h3 { font-size:14px;}


.cont_contactus_box_lft_hed p { font-size: 14px;line-height:18px;}
.cont_contactus_box_riht p { font-size: 14px;line-height:18px;}
.overview2_con p {font-size: 14px;line-height:18px;}
.header4 p {font-size: 14px;line-height:18px;}
.header2 p {font-size: 14px;line-height:18px;}
.header3 p {font-size: 14px;line-height:18px;}
.overview1_bdy1_lft p {font-size: 14px;line-height:18px;}
.acc_container .block p {font-size: 14px;line-height:18px;}
h2.acc_trigger a { font-size:15px;}


}

@media screen and (max-width: 767px){
.menuHld{display:none;}
.heared {padding: 0 15px;}
.heared_left {width:110px; padding:8px 0 6px;}
.heared_logo { float: none;}
.heared_right_box{display:none;}
.mob_hed_riht_con{display:block; margin-top:4px;}
.heared_logo_text {display:none;}
.slider_con { display:none;}
.index_body_con{ margin-top:50px;}
.index_body_top { margin-top:0; width: 100%; position:inherit;}
.index_body { padding: 15px; max-width:100%;}
.index_body_bottom_lft { float: none; margin: 0 auto; width: 90%; float:left; padding:0 5%;}
.index_body_topbox{padding:7px; margin:0 auto 16px auto; float:none; width:auto;}
.index_body_topbox_last{padding:7px; margin:0 auto 16px auto; float:none; width:auto; display:block;}
.index_body_topbox_in { text-align: center;}
.index_welcm_con { display:none;}
.bdy_btm_textbox {width: 85%;}
.index_body_bottom_rigt { border-bottom: 3px dotted #666666; padding-bottom: 20px; width: 100%; margin-bottom: 20px;}
.body_bottom_rigt_hdr {width: 90%; margin:0 auto;}
.bdy_spon_logo_con {display: none;}
.body_bottom_rigt_bdy {width: 90%; margin:0 auto;}
.text_box_lft {float: none; width: 100%;}
.text_box_rigth { float: none;  width: 100%;}

footer {padding: 20px 0;}
.footer_top_con { display: none;}
.footer_mid_con {display: none;}
.footer_mob_menu_con { padding: 15px;}
.footer_mob_menu {margin-bottom: 10px;}
.index_body_bottom {margin-bottom: 40px;}
.footer_mob_menu_con{display:block;}

nav { border-bottom:none; border-top:none;}
.menu_con {display:none;}
.index_services p{ margin-right:0; font-size:13px;}
.index_body_topbox_in p{ font-size:13px;}
.guides_box p{ font-size:13px;}
.guides_box h2{ font-size:14px;}
.index_body_topbox_in h3{ font-size:13px;}
.body_bottom_lft_hed h2{ text-align:left;}
.footer_mob_menu ul li a{ text-align:left; padding:9px 12%; width:76%;}
header{ position:fixed; z-index:1;}

/*--content--*/
.content_hed {min-height: inherit;}
.content_hed h1 { font-size: 30px; line-height:36px; padding: 20px 0 20px 32px;}
.cont_bdy_area { margin-bottom: 0;}
.content_bdy_mnu{display:none;}
.cont_bdy_midcon { float: none; width: 94%; padding:3%}
.lft_rht_in_body_con{display:none;}
.cont_contactus_box_riht {display:none;}
.cont_contactus_box_lft { float: none; width: 100%;}
.cont_contactus_box { padding:20px;}
.drm_solutions_boxbtm_box h2 { float: none; width: 100%;}
.drm_solutions_boxbtm_box h3 { float: none; width: 100%;}
.drm_solutions_boxbtm_box h2 a{ margin:0px;}
.boxbtm_box_none{display:none;}
.cont_bdy_midbtm_area { padding: 20px;}
.overview1_bdy1_lft { float: none; width: 100%; margin-bottom:20px;}
.overview1_bdy1_riht { float: none; width: 100%; margin-bottom:20px;}
.header1 { float: none; margin-right: 0%; width: 100%; margin-bottom:20px;}
.header2 { float: none; margin-right: 0%; width: 100%; margin-bottom:20px;}
.header3 { float: none; margin-right: 0%; width: 100%; margin-bottom:20px;}
.header4 { float: none; margin-right: 0%; width: 100%; margin-bottom:20px;}
.overview1_hed h2 { font-size: 20px;}
.overview1_bdy1_lft h2 { font-size: 20px;}
.overview1_bdy1_lft p { font-size: 16px; line-height:22px;}
.overview1_bdy1_riht ul li a {font-size: 16px; }
.overview1_bdy1_riht h2 {font-size: 20px;}
.header1 h2 { font-size: 18px;}
.header1 p { font-size: 16px;}
.header2 h2 { font-size: 20px;}
.header2 p { font-size: 16px;}
.header1 ul li { font-size: 16px; line-height: 20px;}
.header2 ul li { font-size: 16px; line-height: 20px;}
.overview2_con p { font-size: 16px; line-height: 20px;}
.cont_contactus_box_lft_hed p { font-size: 16px; line-height: 20px;}
.overview2_none{ display:inherit;}
.overview2_con_img { float: none; margin: 0 0 10px 0; text-align: center;}
.overview2_con_img2 { float: none; margin: 0 0 10px 0; text-align: center;}
.overview3_bdy_boxbtm p { font-size: 14px; line-height: 18px;}
.overview3_bdy_boxtop h2 { font-size: 16px; }
.overview3_bdy_boxtop h3 { font-size: 16px; }
.cont_bdy_midtop ul     { display: none;}
.cont_bdy_midtop select { display: inline-block;}
.cont_bdy_midarea1 {margin-top: 50px;}
.cont_bdy_midbtm { border:none; padding:0;}
.content_hed_con{ margin-top:50px;}

.cont_bdy_lft { float: none;  padding: 3% 3% 0 3%; width: 94%; display:none;}
.lft_rht_in_body_con { float: none; width: 100%; display:none;}
.cont_bdy_lft_mnu2{ margin:0px;}
.lft_rht_in_body_box_none{display:none;}
.cont_bdyrigt_box3 {min-height: 0;}
.cont_bdyrigt_box3btm ul li a {font-size:13px; }

.lft_rht_in_body_box{margin-right: 2%; width: 25.1%; float:left;}
.lft_rht_in_body_box_last{width: 45.8%; float:left;}
.cont_bdyrigt_box3btm ul li a { font-size: 11px;}

h2.acc_trigger a {padding: 16px 0 15px 24px; font-family:'helveticaneuemedium',Arial,Helvetica,sans-serif; font-size:15px; color:#333; }
.acc_container .block p { font-size:14px; line-height:18px;}

}

@media screen and (max-width: 640px){
.bdy_btm_textbox { width: 91.5%; font-size:15px;}
.textarea_style{ font-size:15px;}

.lft_rht_in_body_box{margin:0 2% 0 0;  width: 180px; float:left;}
.lft_rht_in_body_box_last{width: 36.1%; float:left;}
.cont_bdyrigt_box3btm ul li a {font-size: 11px;}

}

@media screen and (max-width: 600px){

.bdy_btm_textbox {
    width: 91%;
}

.lft_rht_in_body_box_last {
    float: left;
    width: 32.1%;
}
.cont_bdyrigt_box3btm ul li a {font-size: 10px;}
.cont_bdyrigt_box3{min-height:164px;}

}

@media screen and (max-width: 568px){


}

@media screen and (max-width: 480px){

.index_services {
    background:#FFFFFF;
    min-height: 204px;
    padding: 15px;
    width: auto;
}

.message_button{
	text-align:right;
	color:#38699b;
	font-size:15px;
	font-family:'helveticaneuemedium', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border:none;
	outline:none;
	box-shadow:0 -3px 5px #909090;
	-webkit-box-shadow:0 -3px 5px #909090;
	-moz-box-shadow:0 -3px 5px #909090;
	padding:4px 11% 0 0;
	height:28px;
	line-height:28px;
	font-weight:normal;
	background:#ffffff url(http://www.computerrecyclingsf.com/images/all_icon.png) 118%  -184px no-repeat;
	width:100%;
	-webkit-border-radius:0px; -webkit-appearance: none;
}


.index_services ul li { float: none; width: auto;}
.bdy_btm_textbox { width: 88.4%; font-size:15px;}
.textarea_style{ font-size:15px;}
.message_button {text-align: center;}
.mob_hed_riht_con {margin-top: 4px;}
.lft_rht_in_body_box{margin:0 5%; width: 180px; float:left;}

.lft_rht_in_body_box_last{width: 100%; float:left;}
.cont_bdyrigt_box3btm ul li a {font-size: 13px;}
.cont_bdyrigt_box3{min-height:0px;}

}

@media only screen and (max-device-width: 480px) { 
    html {
        -webkit-text-size-adjust: none; 
    }
}
@media screen and (max-width: 384px){
.bdy_btm_textbox {width: 84.4%;}
.mob_hed_riht_con {margin-bottom: 5px; margin-top: 5px;}
.message_button{
	text-align:center;
	color:#38699b;
	font-size:15px;
	font-family:'helveticaneuemedium', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border:none;
	outline:none;
	box-shadow:0 -3px 5px #909090;
	-webkit-box-shadow:0 -3px 5px #909090;
	-moz-box-shadow:0 -3px 5px #909090;
	padding:0;
	height:28px;
	line-height:28px;
	font-weight:normal;
	padding:4px 16% 0 0;
	background:#ffffff url(http://www.computerrecyclingsf.com/images/all_icon.png) 133%  -184px no-repeat;
	width:100%;
	-webkit-border-radius:0px; -webkit-appearance: none;
}

/*--content--*/
.drm_solutions_boxbtm_box h2 a { font-size: 13px;}
.drm_solutions_boxbtm_box h3 a { font-size: 13px;}
.lft_rht_in_body_box { float: none; margin: 0 auto; width: 180px;}
.lft_rht_in_body_box_last {width: 100%;}

}


@media screen and (max-width: 320px){
.bdy_btm_textbox { width: 82.4%; font-size:15px;}
.textarea_style{ font-size:15px;}

/*--content--*/
.drm_solutions_boxbtm_box h2 a { font-size: 13px;}
.drm_solutions_boxbtm_box h3 a { font-size: 13px;}
.content_hed h1 { font-size: 25px; line-height:36px; padding: 20px 0 20px 32px;}

	
}


@media screen and (max-width: 240px){


}

