{% block html_head_container %}

	{% include 'base/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}">
<div itemscope itemtype="http://schema.org/LocalBusiness" id="wrapper">

	{% block header %}
		{% include 'base/header/menu_mob.twig' %}

		{% include 'base/header/header.twig' %}

		{% include 'base/header/menu.twig' with { 'menu': menu_header.get_items } %}

		<div class="ph_slidediv">
			<h3><a href="tel:4153668120">Click to Call: (415) 366-8120</a></h3>
		</div>

		{% block slider %}
			{% include 'base/header/slider.twig' %}
		{% endblock %}
	{% endblock %}

	{% block body_content %}
		<section class="index_body_con">
			<div class="index_body">
				Empty
			</div>
		</section>
	{% endblock %}

	{% include 'base/footer/index.twig' %}

</div>
</body>
</html>