{% extends "base.twig" %}

{% block slider %}
        {% include 'single/slider.twig' with {'title':post.title, 'area': post.area} %}
{% endblock %}

{% block body_content %}
    <section class="content_body_con">
        <div class="content_body">
            {% include "single/breadcrumbs.twig" %}
            <div class="cont_bdy_area">
                {% include "single/left-menu.twig" %}
                <div class="cont_bdy_midcon">
                    {% block content %}
                        Empty
                    {% endblock %}
                    {% include "single/form.twig" %}
                </div>
                {% include "single/right-menu.twig" %}
                <div class="spacer"></div>
            </div>
        </div>
    </section>
{% endblock %}