{% extends "base.twig" %}

{% block description  %}{{ description }}{% endblock %}

{% block body_content %}
	<section class="index_body_con">
		<div class="index_body">
			{% block content %}

				{% include 'posts/home-image.twig' with home_img_posts %}

				{% include 'widget/home-top.twig' %}

				{% include 'menu/home_logo.twig' %}

				{% include 'widget/home-bottom.twig' %}

			{% endblock %}
		</div>
	</section>
{% endblock %}