{% extends "base_single.twig" %}


{% block content %}
	<div class="cont_bdy_midarea1">
		<div class="cont_bdy_mid">
			<div class="cont_bdy_midtop">
				<ul>
					{% include "menu/single_head.twig" %}
				</ul>
				<div class="spacer"></div>
				<select onchange="getval(this.value)"><option>ITAD Overview</option><option>ITAD Process</option><option>IT Asset Processing</option><option>Lease Returns</option><option>Evaluation Request</option></select></div>

			<div class="cont_bdy_midbtm">
				<div id="div1" class="cont_bdy_midbtm_area">
					<div class="overview1_con">
						{{ post.content|raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
