<div class="index_body_bottom">
    <div class="index_body_bottom_rigt">
        {{ home_bottom_rigt }}
    </div>
    <div class="index_body_bottom_lft">
        {{ home_bottom_left }}
    </div>
    <div class="index_body_bottom_mid">
        {{ home_bottom_mid }}
    </div>
    <div class="spacer"></div>
</div>