<div class="index_body_mid">
    <div class="index_welcm_con">
        <div class="index_welcm">
            {{ home_left }}
        </div>
    </div>
    <div class="index_services_con">
        <div class="index_services">
            {{ home_right }}
        </div>
    </div>
    <div class="spacer"></div>
</div>